$primary: #008E74;
$secondary: #D24335;
$warning: #c79715;
$info: #4267e0;
$body-color: #4056A1;
$font-size-base:1.1rem;
/*$body-color: #E85A4F;*/
/*$body-color: #E98074;
$primary: #eae7dc;*/
@import '~bootstrap/scss/bootstrap';